<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SoeClassId" value="GPX.Server.Extension.Exporter" />
    <!--The fully qualified class identifier of the class which implements IServerObjectExtension-->
    <add key="SoeDescription" value="Exporter extension" />
    <!--Extension Description-->
    <add key="SoeDisplayName" value="Exporter Extension" />
    <!--Display name of the extension, will display in ArcCatalog or ArcGIS Server Manager-->
    <add key="SoeName" value="Exporter" />
    <!--Extension Name-->
    <add key="SomProcessName" value="ArcGIS Server Object Manager" />
    <!--Name of the ArcGIS Server SOM Manager-->
    <add key="SupportsMSD" value="true" />
    <!--If the extension supports MSD format-->
    <add key="SupportsREST" value="true" />
    <!--If the extension supports REST-->
  </appSettings>
</configuration>